@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <table id="tabla" class="display cell-border" style="width: 100%">
        <thead>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Activo</th>
        <th></th>
        </thead>
        <tbody>
        </tbody>
    </table>
</main>